crime-style(fill-color, stroke-color)
    background-color fill-color
    border 0.2em solid stroke-color

.crime-type
    // Theft
    &-theft
        crime-style #9C27B0 #D500F9
    // Property
    &-property
        crime-style #4CAF50 #69F0AE
    // Personal
    &-personal
        crime-style #F44336 #FF5252
    // Sexual
    &-sexual
        crime-style #CDDC39 #EEFF41
    // Minor
    &-minor
        crime-style #03A9F4 #40C4FF
    &-domestic
        crime-style #3F51B5 #536DFE
    // Substances
    &-substances
        crime-style #795548 #A1887F
    // OTHER
    &-other
        crime-style #9E9E9E #BDBDBD
