border-display = 1px solid rgba(0, 0, 0, 0.12)

aspect-ratio(width, height)
    position relative
    &:before
        display block
        content ""
        padding-top (height / width) * 100%
    > .content
        position absolute
        top 0
        left 0
        right 0
        bottom 0

*
    margin 0
    padding 0
    
body
    font-family sans-serif

.panel
    control-panel-w = 25em
    position absolute
    box-shadow 0 0 1em 0 #000
    &.main
        top 0
        left 0
        bottom 0
        right control-panel-w
        z-index 0
        .map
            position absolute
            top 0
            left 0
            bottom 0
            right 0
    &.controls
        top 0
        right 0
        bottom 0
        width control-panel-w
        background-color #FFF
        z-index 10

.sub-panel
    graph-height = 40%
    position absolute
    &.search-box
        top 0
        left 0
        right 0
        height 3em
        border-bottom border-display
    &.display
        top 3em
        left 0
        bottom 0
        right 0
    &.graph
        top 0
        left 0
        right 0
        height graph-height
        border-bottom border-display
    &.controls
        top graph-height
        left 0
        bottom 0
        right 0
    &.graph-display
        top 0
        left 0
        bottom 3em
        right 0
        border-bottom border-display
    &.graph-controls
        left 0
        bottom 0
        right 0
        height 3em
    
        
.loading-overlay
    opacity-fade-time = 0.3s
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background rgba(255, 255, 255, 0.7)
    transition opacity opacity-fade-time ease
    display none
    transform translateZ(0px)
    z-index 1
    .loading-message
        font-size 2em
        text-align center
        display inline-block
        position absolute
        bottom 0
        left 0
        right 0
        height 33%
        line-height 2em
    &.before-script-load
        display block
        opacity 1
        animation-name fadein
        animation-duration 1s
        animation-timing-function ease
        animation-iteration-count 1
        
        

.spinner
    animation-duration 1s
    animation-name spin
    animation-iteration-count infinite
    animation-timing-function linear
    position absolute
    top 50%
    left 50%
    right 50%
    height 0
    text-align center
    .fa
        color rgba(0, 0, 0, 0.87)
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        font-size 10em
        display inline-block
        
.map-container
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    
.map-overlay
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    transform translateZ(0px)
    z-index 1

.crime-toggles
    width 100%
    position relative

.crime-toggle
    float left
    aspect-ratio 1 1
    width (100 / 8)%
    border-bottom border-display
    & ~ &:before
        border-left border-display
    > .content
        text-align center
        line-height 1em

@keyframes spin
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)

@keyframes fadein
    from
        opacity 0
    50%
        opacity 0
    80%
        opacity 1
